$navbar_background_color: rgba(133, 218, 92, 0.85);
$navbar_text_color: rgb(36, 58, 84);

$company_green: rgb(202, 255, 176);
$company_yellow: rgb(254, 225, 122);
$company_blue: rgb(161, 230, 255);
$company_violet: rgb(195, 196, 249);

