@import "colors";

.well {
  margin: 10px;
}

.navbar {
  width: 100%;
}

body {
  color: $navbar_text_color;
}

.company-green {
  background: $company_green;
}

.company-blue {
  background: $company_blue;
}

.company-yellow {
  background: $company_yellow;
}

.company-violet {
  background: $company_violet;
}

.navbar-default {
  display: inline-block;
  color: $navbar_text_color;
  text-align: center;
  text-transform: uppercase;
  background: $navbar_background_color;
  border: none;
}

.navbar-nav {
  display: inline-block;
  float: none;
  padding: 0;
  margin: 0 auto;
  font-size: 1em;
  font-weight: bold;
  list-style: none;
}

.navbar-default .navbar-nav > li > a {
  color: $navbar_text_color;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  background-color: transparent;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background: none;
}

@media (min-width: 992px) {
  .site-footer {
    margin-top: 60px;
  }
}

@media (min-width: 992px) {
  .site-footer .nav-footer li, .site-footer h6 {
    margin-bottom: 8px;
  }
}

.site-footer, .site-footer a, .site-footer h6 {
  line-height: 1.5;
}

.site-footer {
  background-color: #243a54;
  padding: 60px 0;
  font-size: 16px;
  color: #fff;
}

h6, .made-in-krk {
  color: $navbar_background_color;
}

footer {
  display: block;
}

.site-footer a {
  border-bottom: none;
  color: #fff;
  -webkit-transition: opacity .2s cubic-bezier(0.23, 1, 0.32, 1);
  transition: opacity .2s cubic-bezier(0.23, 1, 0.32, 1);
  text-decoration: none;
}

.div-center {
  display: flex;
  display: -webkit-inline-block;
  display: -moz-flex;
  display: -ms-flexbox;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.companyName img {
  display: block;
  position: relative;
  z-index: 5;
  width: 60px;
  height: 60px;
  background-color: #fff;
  border-radius: 6px;
  margin: 2em auto
}

.stack-name {
  font-weight: bold;
  line-height: 1.1;
  font-size: 20px;
  text-align: center;
  margin-top: 5px
}

.technology {
  text-align: center;
  padding: 5px;
  margin: 5px;
}

.technology-name {
  border: 1px solid $navbar_text_color;
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
  background-color: #fff;
}

.technology-value {
  border: 1px solid $navbar_text_color;
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
}
